@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    height: 80vh;
    overflow: hidden;
}

.area {
    display: flex;
    justify-content: center;

    height: 100%;
    overflow: hidden;

    padding: 30px;
}

.area__item {
    position: relative;

    width: 600px;
    height: 100%;

    background-color: aquamarine;
    background-image: url("https://w-dog.ru/wallpapers/9/12/558725469376518/nebo-oblaka-gory-zakat-ozero-derevya-otrazhenie-lodka-pristan-sneg-vershina.jpg");
    background-position: center;
    background-size: cover;
}
